{% extends "layout.html" %}
{% block tickertape %}

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="margin-top: -25px">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
        {
            "symbols": [
                {
                    "title": "S&P 500",
                    "proName": "OANDA:SPX500USD"
                },
                {
                    "title": "Shanghai Composite",
                    "proName": "INDEX:XLY0"
                },
                {
                    "title": "EUR/USD",
                    "proName": "FX_IDC:EURUSD"
                },
                {
                    "title": "BTC/USD",
                    "proName": "BITSTAMP:BTCUSD"
                },
                {
                    "title": "ETH/USD",
                    "proName": "BITSTAMP:ETHUSD"
                },
                {
                    "description": "Apple Inc.",
                    "proName": "NASDAQ:AAPL"
                },
                {
                    "description": "Microsoft Corp.",
                    "proName": "NASDAQ:MSFT"
                },
                {
                    "description": "Alphabet Inc.",
                    "proName": "NASDAQ:GOOGL"
                },
                {
                    "description": "Facebook Inc.",
                    "proName": "NASDAQ:FB"
                },
                {
                    "description": "Tesla Inc.",
                    "proName": "NASDAQ:TSLA"
                },
                {
                    "description": "Visa Inc.",
                    "proName": "NYSE:V"
                },
                {
                    "description": "PayPal",
                    "proName": "NASDAQ:PYPL"
                }
            ],
                "colorTheme": "light",
                    "isTransparent": false,
                        "displayMode": "adaptive",
                            "locale": "en"
        }
    </script>
</div>
<!-- TradingView Widget END -->
{% endblock tickertape %}


{% block content %}

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="position:absolute; left:70px; top: 150px">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Market Data</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
        {
            "showChart": true,
                "locale": "en",
                    "largeChartUrl": "",
                        "isTransparent": false,
                            "width": "500",
                                "height": "600",
                                    "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
                                        "plotLineColorFalling": "rgba(33, 150, 243, 1)",
                                            "gridLineColor": "rgba(255, 255, 255, 1)",
                                                "scaleFontColor": "rgba(131, 136, 141, 1)",
                                                    "belowLineFillColorGrowing": "rgba(5, 122, 205, 0.12)",
                                                        "belowLineFillColorFalling": "rgba(5, 122, 205, 0.12)",
                                                            "symbolActiveColor": "rgba(225, 239, 249, 1)",
                                                                "tabs": [
                                                                    {
                                                                        "title": "Indices",
                                                                        "symbols": [
                                                                            {
                                                                                "s": "OANDA:SPX500USD",
                                                                                "d": "S&P 500"
                                                                            },

                                                                            {
                                                                                "s": "FOREXCOM:DJI",
                                                                                "d": "Dow 30"
                                                                            },

                                                                            {
                                                                                "s": "COINBASE:BTCUSD",
                                                                                "d": "Bitcoin"
                                                                            },

                                                                            {
                                                                                "s": "NASDAQ:AAPL",
                                                                                "d": "Apple"
                                                                            },

                                                                            {
                                                                                "s": "NASDAQ:MSFT",
                                                                                "d": "Microsoft"
                                                                            },

                                                                            {
                                                                                "s": "NASDAQ:GOOGL",
                                                                                "d": "Alphabet"
                                                                            },

                                                                            {
                                                                                "s": "NASDAQ:FB",
                                                                                "d": "Facebook"
                                                                            },

                                                                            {
                                                                                "s": "NASDAQ:TSLA",
                                                                                "d": "Tesla"
                                                                            },

                                                                            {
                                                                                "s": "INDEX:XLY0",
                                                                                "d": "Shanghai Composite"
                                                                            },

                                                                            {
                                                                                "s": "INDEX:NKY",
                                                                                "d": "Nikkei 225"
                                                                            },
                                                                            {
                                                                                "s": "INDEX:DAX",
                                                                                "d": "DAX Index"
                                                                            },
                                                                            {
                                                                                "s": "OANDA:UK100GBP",
                                                                                "d": "FTSE 100"
                                                                            }
                                                                        ],
                                                                        "originalTitle": "Indices"
                                                                    },
                                                                    {
                                                                        "title": "Commodities",
                                                                        "symbols": [
                                                                            {
                                                                                "s": "CME_MINI:ES1!",
                                                                                "d": "E-Mini S&P"
                                                                            },
                                                                            {
                                                                                "s": "CME:E61!",
                                                                                "d": "Euro"
                                                                            },
                                                                            {
                                                                                "s": "COMEX:GC1!",
                                                                                "d": "Gold"
                                                                            },
                                                                            {
                                                                                "s": "NYMEX:CL1!",
                                                                                "d": "Crude Oil"
                                                                            },
                                                                            {
                                                                                "s": "NYMEX:NG1!",
                                                                                "d": "Natural Gas"
                                                                            },
                                                                            {
                                                                                "s": "CBOT:ZC1!",
                                                                                "d": "Corn"
                                                                            }
                                                                        ],
                                                                        "originalTitle": "Commodities"
                                                                    },
                                                                    {
                                                                        "title": "Bonds",
                                                                        "symbols": [
                                                                            {
                                                                                "s": "CME:GE1!",
                                                                                "d": "Eurodollar"
                                                                            },
                                                                            {
                                                                                "s": "CBOT:ZB1!",
                                                                                "d": "T-Bond"
                                                                            },
                                                                            {
                                                                                "s": "CBOT:UD1!",
                                                                                "d": "Ultra T-Bond"
                                                                            },
                                                                            {
                                                                                "s": "EUREX:GG1!",
                                                                                "d": "Euro Bund"
                                                                            },
                                                                            {
                                                                                "s": "EUREX:II1!",
                                                                                "d": "Euro BTP"
                                                                            },
                                                                            {
                                                                                "s": "EUREX:HR1!",
                                                                                "d": "Euro BOBL"
                                                                            }
                                                                        ],
                                                                        "originalTitle": "Bonds"
                                                                    },
                                                                    {
                                                                        "title": "Forex",
                                                                        "symbols": [
                                                                            {
                                                                                "s": "FX:EURUSD"
                                                                            },
                                                                            {
                                                                                "s": "FX:GBPUSD"
                                                                            },
                                                                            {
                                                                                "s": "FX:USDJPY"
                                                                            },
                                                                            {
                                                                                "s": "FX:USDCHF"
                                                                            },
                                                                            {
                                                                                "s": "FX:AUDUSD"
                                                                            },
                                                                            {
                                                                                "s": "FX:USDCAD"
                                                                            }
                                                                        ],
                                                                        "originalTitle": "Forex"
                                                                    }
                                                                ]
        }
    </script>
</div>

<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="position:absolute; left:600px; top: 150px">
    <div id="tradingview_8ae1b"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "width": 870,
                "height": 600,
                "symbol": "NASDAQ:AAPL",
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "Light",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "news": [
                    "headlines"
                ],
                "container_id": "tradingview_8ae1b"
            }
        );
    </script>
</div>

<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="position:absolute; margin-left: -135px; top: 770px">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/currencies/economic-calendar/" rel="noopener" target="_blank"><span class="blue-text">Economic Calendar</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
        {
            "colorTheme": "light",
                "isTransparent": false,
                    "width": "510",
                        "height": "600",
                            "locale": "en",
                                "importanceFilter": "-1,0,1"
        }
    </script>
</div>
<!-- TradingView Widget END -->


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="position:absolute; margin-left: 400px; top: 771px">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/screener/" rel="noopener" target="_blank"><span class="blue-text">Stock Screener</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
        {
            "width": 840,
                "height": 600,
                    "defaultColumn": "overview",
                        "defaultScreen": "most_capitalized",
                            "market": "america",
                                "showToolbar": true,
                                    "colorTheme": "light",
                                        "transparency": false,
                                            "locale": "en"
        }
    </script>
</div>
<!-- TradingView Widget END -->
{% endblock content %}

   